body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

p{
  margin: 0;
}

nav{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F51B5;
}

nav img{
  width: 40%;
}


input::-webkit-datetime-edit-year-field {
  color: #999;
}

input::-webkit-datetime-edit-day-field {
  color: #999;
}

input::-webkit-datetime-edit-month-field {
  color: #999;
}

input::-webkit-datetime-edit-slash-field {
  color: #999;
}

input:focus{
  border:none;
}

.input-form{
  width: 70vw;
  height: 40px;
  border: 2px solid #3F51B5;
  border-radius: 5px;
  padding: 0 15px;
}

.recorte-video{
  clip-path: inset(0 50px 0px 50px);
}


.button-photo{
  height: 50px;
  width: 190px;
  background-color: #FF5252;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

